<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="server" value="localhost" />
    <add key="port" value="5555" />
    <add key="dbpath" value="C:\Users\paweł\Documents\Visual Studio 2015\Projects\NASClientTCP\NASClientTCP\bin\" />
    <add key="database" value="filesInfo.sqlite" />
    <add key="sourcePath" value="C:\Users\paweł\Documents\Visual Studio 2015\Projects\NASServerTCP\NASServerTCP\bin\Debug"/>
    <add key="backupPath" value="C:\Users\paweł\Documents\Visual Studio 2015\Projects\NASServerTCP\NASServerTCP\bin\Debug\raid1"/>
  </appSettings>
</configuration>